
@font-face {
    font-family: 'GenomUltra';
    src: url("../fonts/Geom Ultra.ttf");
}




body
{
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    height: 200rem;


}

h1
{
    font-family: GenomUltra;
    font-size: 5em;
    color: #17202a;
    margin-left: 20%;
    margin-top: 15%;
}

p
{
    font-family: GenomUltra;
    font-weight: lighter;
    font-size: 2em;
    color: #17202a;
    margin-left: 20%;
    margin-top: -1rem;
}

#duck {
    margin-left: 23%;
}