
@font-face {
    font-family: 'GenomUltra';
    src: url("../fonts/Geom Ultra.ttf");
}
@font-face {
    font-family: 'Genom';
    src: url("../fonts/Geom Light.ttf");
}



body
{
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    height: 200rem;
}


nav
{ 
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: #17202a;
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.25);
    z-index: 9999999999;
}
#nav-logo
{   
    position: absolute;
    font-family: GenomUltra;
    font-size: 2rem;
    color: #2ecc71;
    transform: translateY(50%);
    margin-left: 3rem;
}
.navigation{
    list-style: none;
    font-size: 18px;
    font-family: Roboto;
    font-weight: bold;
    color: white;
    justify-content: space-between;
    float: right;
    
}
.nav-link
{
    display: inline-block;
    margin-right: 2rem;
    padding: 1rem 1.5rem;
}
.nav-link a
{
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    transition: color ease-in-out 100ms;
}
#nav-donate 
{
    margin-right: 5rem;
    margin-left: 3rem;
}
#nav-donate a
{
    color:  #58d68d ;
}
@keyframes donateAnim
{
    0% { color: #58d68d}
    60% { color: #ddece3}
    100% { color: #58d68d}
}
#nav-donate:hover > a
{
    animation: donateAnim 1s ease-in-out infinite;
}
.nav-link:hover > a
{
    color: #c5ffc9;
}


.tutorials-dropdown
{
    list-style: none;
    position: absolute;
    margin-top: 2rem;
    transform: translateX(-20%);
    background-color: #17202a;
    width: 6rem;
    font-size: 15px;
    display: flexbox;
    flex-direction: column;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
    border-radius: 5px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.tutorials-dropdown li
{
    margin: 1rem 0;
    margin-left: -1rem;
}
.tutorials-dropdown li::before
{
    position: absolute;
    content: "";
    background-color: white;
    width: 65%;
    height: 2px;
    margin-top: 1.25rem;
    margin-left: -0.5rem;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms;
}
.tutorials-dropdown li:hover::before
{
    transform: scaleX(1);
    transform-origin: left;
}


deckgo-highlight-code
{   
    margin: 5rem;
    width: fit-content;
    border-radius: 15px;
    box-shadow: 10px 10px 15px 5px rgba(0,0,0,0.25);
}



.team
{
    width: 100%;
    height: fit-content;
    background-color:#282a36;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
    flex-wrap: wrap;
}
.team h2
{
    font-family: GenomUltra;
    font-size: 30px;
    color: white;
    letter-spacing: 10px;
    position: absolute;
    margin-top: -6rem;
}

.team-new-line
{
    content: "";
    width: 100%;
}

.team-card
{   
    margin-left: 2rem;
    width: 12rem;
    height: 15rem;
    background-color:#282a36;
    border-radius: 15px;
    display: block;
    position: relative;
    text-align: center;
    transition: box-shadow 150ms ease-in-out;
    margin-bottom: 2rem;
}
.team-card:hover
{
    box-shadow: 10px 10px 15px 5px rgba(0,0,0,0.25);
}
.team-card img
{
    position: absolute;
    margin-top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 5rem;
    height: 5rem;
    border-radius: 10rem;
    border-color: #2c9bb1;
    border-style: solid;
    border-width: 4px;
}
.team-card h1
{
    font-size: 18px;
    margin-top: 0.5rem;
    transform: translateY(7.5rem);
    font-family: Roboto;
    color: #3acfed;
}
.team-card ul
{
    text-align: left;
    margin-top: 8rem;
}
.team-card li
{
    color: rgb(155, 155, 155);
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
    margin-left: 20%;
}