@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: 'GenomUltra';
    src: url("../fonts/Geom Ultra.ttf");
}
@font-face {
    font-family: 'Genom';
    src: url("../fonts/Geom Light.ttf");
}



/*                   T E A M   S E C T I O N                  */
.team
{
    width: 100%;
    height: fit-content;
    background-color:#282a36;
    display: flex;
    justify-content: center;
    padding-top: 15rem;
    padding-bottom: 5rem;
    flex-wrap: wrap;
}
.team h2
{
    font-family: GenomUltra;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 10px;
    position: absolute;
    margin-top: -6rem;
}

.team-new-line
{
    flex-basis: 100%;
}

.team-card
{   
    margin-right: 2rem;
    width: 12rem;
    height: 20rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color:#282a36;
    border-radius: 15px;
    display: block;
    position: relative;
    text-align: center;
    transition: box-shadow 150ms ease-in-out;
    margin-bottom: 2rem;
}
.team-card:hover
{
    box-shadow: 10px 10px 15px 5px rgba(0,0,0,0.25);
}
.team-card img
{
    position: absolute;
    margin-top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 5rem;
    height: 5rem;
    border-radius: 10rem;
    border-color: #282a36;
    border-style: solid;
    border-width: 4px;
}
.team-card h1
{
    font-size: 20px;
    margin-top: 0.5rem;
    transform: translateY(7.5rem);
    font-family: GenomUltra;
    font-weight: normal;
    color: rgb(0, 201, 74);

}
.team-card ul
{
    margin-top: 8rem;
    text-align: center;
    position: absolute;
    left: -14%;
    right: 0;
    
}
.team-card li
{
    color: rgb(155, 155, 155);
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
    
}
.team-card button
{
    border-radius: 10rem;
    width: 6rem;
    height: 2rem;
    background-color: transparent;
    border-width: 3px;
    border-color: #2ecc71;
    border-style: solid;
    color: #2ecc71;
    font-family: GenomUltra;
    position: absolute;
    transform: translateX(-50%);
    bottom: 2rem;
}

.team-card button:hover
{
    animation: pulse 1s infinite;
    box-shadow: 0 0 0 1em transparent;

}
@keyframes pulse
{
    0% { box-shadow: 0 0 0 0 #2ecc71; }
}
/*               E N D                        */
