@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@font-face {
    font-family: 'GenomUltra';
    src: url("../fonts/Geom Ultra.ttf");
}
@font-face {
    font-family: 'Genom';
    src: url("../fonts/Geom Light.ttf");
}


/*                   T E A M   S E C T I O N                  */
.team
{
    width: 100%;
    height: fit-content;
    background-color:#282a36;
    display: flex;
    justify-content: center;
    padding-top: 15rem;
    padding-bottom: 5rem;
    flex-wrap: wrap;
}
.team h2
{
    font-family: GenomUltra;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 10px;
    position: absolute;
    margin-top: -6rem;
}

.team-new-line
{
    flex-basis: 100%;
}

.team-card
{   
    margin-right: 2rem;
    width: 12rem;
    height: 20rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color:#282a36;
    border-radius: 15px;
    display: block;
    position: relative;
    text-align: center;
    transition: box-shadow 150ms ease-in-out;
    margin-bottom: 2rem;
}
.team-card:hover
{
    box-shadow: 10px 10px 15px 5px rgba(0,0,0,0.25);
}
.team-card img
{
    position: absolute;
    margin-top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 5rem;
    height: 5rem;
    border-radius: 10rem;
    border-color: #282a36;
    border-style: solid;
    border-width: 4px;
}
.team-card h1
{
    font-size: 20px;
    margin-top: 0.5rem;
    transform: translateY(7.5rem);
    font-family: GenomUltra;
    font-weight: normal;
    color: rgb(0, 201, 74);

}
.team-card ul
{
    margin-top: 8rem;
    text-align: center;
    position: absolute;
    left: -14%;
    right: 0;
    
}
.team-card li
{
    color: rgb(155, 155, 155);
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
    
}
.team-card button
{
    border-radius: 10rem;
    width: 6rem;
    height: 2rem;
    background-color: transparent;
    border-width: 3px;
    border-color: #2ecc71;
    border-style: solid;
    color: #2ecc71;
    font-family: GenomUltra;
    position: absolute;
    transform: translateX(-50%);
    bottom: 2rem;
}

.team-card button:hover
{
    animation: pulse 1s infinite;
    box-shadow: 0 0 0 1em transparent;

}
@keyframes pulse
{
    0% { box-shadow: 0 0 0 0 #2ecc71; }
}
/*               E N D                        */



/*               I N D E X    T O P           */
.index-logo
{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    z-index: -1;
    position: fixed;
    top: 0;
}

.index-logo img
{
    width: 20rem;
    height: 20rem;
    margin-top: 6rem;
    position: absolute;
}

.index-logo h1
{
    font-size: 3rem;
    font-family: Lato;
    font-weight: 100;
    color: white;
    margin-top: 25rem;
    position: absolute;
}

.index-logo button {
    width: 12rem;
    height: 2.5rem;
    margin-top: 30rem;
    outline: none;
    border: none;
    border-radius: 10rem;
    color: #111;
    background: white;
    font-size: 15px;
    font-family: Roboto;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: all 500ms ease-in-out;
}

.index-logo button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10rem;
}
.index-logo button:hover {
    background: #111;
    color: white;
}
.index-logo button:hover:before {
    opacity: 1;
}
.index-logo button:hover:after {
    background: #111;
}
.index-logo button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    border-radius: 10rem;
    transition: all 500ms ease-in-out;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.index-content-transition-svg
{
    fill: #282a36;
    margin-top: -40vh;
    pointer-events: none;
}
.index-content
{
    margin-top: 100vh;
    width: 100%;
    height: 100vh;
    background-color: #282a36;
}
@media only screen and (max-width: 1024px){
    
    .index-content-transition-svg {display: none;}
    .index-logo {position: inherit; margin-top: -5rem; height: fit-content; padding-bottom: 4rem;}
    .index-logo button::after {display: none;}
    .index-logo button::before {display: none;}

}